body {
    font-family: 'Montserrat',sans-serif;
  }

.main{
    background-color: #00a3e0;
    height: 530px;
}

.main h1{
    font-family: 'Montserrat',sans-serif;
    font-weight:bold;
    font-size: 42px;
    color:white;

}

.main p{
    font-family: 'Montserrat',sans-serif;
    font-weight:1px;
    font-size: 18px;
    color:white;
    margin-left: 125px;
    margin-right: 125px;

}

#secundario {
  font-family: 'Montserrat',sans-serif;
  font-weight:1px;
  font-size: 16px;
  color:white;
  margin-left: 125px;
  margin-right: 125px;

}

.main label{
  font-family: 'Montserrat',sans-serif;
  font-weight:100;
  font-size: 18px;
  color:white;
  margin-left: 125px;
  margin-right: 125px;
}

.explanation{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    margin-left: 125px;
    margin-right: 125px;

}

img {
    max-width: 55%;
}

#boton {
    color:white;
    border: none;
    font-family: 'Montserrat',sans-serif;
    background-color: #f68d2e ;
    font-size:32px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.link
{
  color:white;
  text-decoration: none; 
  background-color: none;
}

.link:hover
{
  color:white;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }

.column img {
    margin-top: 8px;
    margin-left: 125px;
    vertical-align: middle;
    width: 100%;
  }

  footer{
    font-family: 'Montserrat',sans-serif;
  }

@media screen and (max-width: 800px) {
    .main{
        background-color: #00a3e0;
        height: 750px;
    }
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
        margin-top: 8px;
        margin-left: auto;
        vertical-align: middle;
        width: 100%;
      }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    .main h1{
        font-size: 22px;
    }
    .main p{
        font-size: 12px;
        font-weight:400;
        margin-left: 10px;
        margin-right: 10px;
    }

    #secundario {
      font-family: 'Montserrat',sans-serif;
      font-weight:1px;
      font-size: 10px;
      color:white;
      margin-left: 10px;
      margin-right: 10px;
    
    }

    .main label{
      font-family: 'Montserrat',sans-serif;
      font-weight:100;
      font-size: 13px;
      color:white;
      margin-left: 15px;
      margin-right: 15px;
    }
    
    .explanation{
        font-family: 'Montserrat',sans-serif;
        font-size: 12px;
        margin-left: 10px;
        margin-right: 10px;
    
    }
}

@media only screen and (min-width: 820px) and (max-width: 1180px){
    .main{
        background-color: #00a3e0;
        height: 800px;
    }
    .main p{
      /* font-size: 14px; */
      font-weight:400;
      /* margin-left: 4px;
      margin-right: 4px; */
  }

  #secundario {
    font-family: 'Montserrat',sans-serif;
    font-weight:1px;
    color:white;
    /* margin-left: 4px;
    margin-right: 4px; */
  
  }
    
}
